* {
    margin: 0;
    padding: 0;
    border: 0;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    margin:0;
    padding:0;
    border:0;
    width: 980px;
    height: 1960px;
    background-color: blue;
}

#header {
    margin:0;
    padding:0;
    border:0;
    width:980px;
    height:100px;
    background-color:white;
}

#header h1{
    display:inline-block;
    vertical-align: top;
    margin-right:490px;
    margin-top:31.5px;
    margin-bottom:31.5px
}

#header h2{
    display:inline-block;
    vertical-align: top;
    margin-top:31.5px;
    margin-bottom:31.5px;
}

#navigation {

}

#main_content {

}

#about {

}